<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button *ngIf="showAdminBoard" [routerLink]="'/admin'"> Admin Board </a>
      <a mat-button *ngIf="showModeratorBoard" [routerLink]="'/mod'"> Moderator Board </a>
      <a mat-button *ngIf="isLoggedIn" [routerLink]="'/user'"> Usuário </a>
      <a mat-button *ngIf="isLoggedIn" [routerLink]="'/profile'"> Perfil </a>
    </div>
    <span class="menu-spacer"></span>
    <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/register'"> Registrar </a>
    <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'"> Login </a>
    <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn" matTooltip="Sair">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
